<p class="header">Tweet application</p>
<%= form_with(model:@view_model_twis, url:confirm_posts_path, local: true) do|form| %>
  <% if @view_model_twis.errors.any? %>
    <div id="error">
      <h2><%= @view_model_twis.errors.count %>
        件のエラーがあります。
      </h2>
      <ul>
        <% @view_model_twis.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        </ul>
      </div>
    <% end  %>
  <% end  %>
  <div>
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
<br>
<%= link_to "Tweet一覧に戻る", posts_path %>
<p class="footer">Tweet application</p>
